{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
	#mapid { height: 400px; }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{% static 'js/mapa.js' %}"></script>
</head>
<body>
    <header>
        <h1>{{ titulo }}</h1>
    </header>
    <main>
        <section>
            <p>{{ contenido }}</p>
        </section>
	<section> 
	  <div id="mapid"></div>
	</section>
    </main>
    <script>
      var latitud = {{latitud}}
      var longitud = {{longitud}}
      //console.log('coordenadas: ', latitud, longitud)
        // Inicializar el mapa
      /*var latitud = {{latitud}}
      var longitud = {{longitud}}

        //var mymap = L.map('mapid').setView([-34.60376, -58.38162], 15);
        var mymap = L.map('mapid').setView([latitud, longitud], 15);

        // Añadir la capa de mapa base de OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        // Añadir marcador
        L.marker([latitud, longitud]).addTo(mymap)
            .bindPopup('¡Hola! Este es el obelisco.')
            .openPopup();*/
    </script>
    <footer>
        <p>&copy; {{ year }} Mi App</p>
    </footer>
</body>
</html>
